fastapi
uvicorn
langchain
langchain-ollama
langchain-openai
langchain-core
langchain-community
selenium
chromedriver-autoinstaller
sqlalchemy
python-multipart
pydantic-settings
langchain-chroma
chromadb
pypdf
docx2txt
